################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NetScrapper
/NetScrapper/bin/Debug/net6.0
/NetScrapper/obj
